{% extends "base.html" %}
{% block content %}
<h3>Options</h3>
<div class="row">
  <div class="span12">
    <ul>
      <!-- <li><a href="{{servlet-context}}/show">show customers</a></li> -->
      <li><a href="{{servlet-context}}/search">search customers</a></li>
      <li><a href="{{servlet-context}}/insert">insert customer</a></li>
      <li><a href="{{servlet-context}}/searchenrol">search enrolments</a></li>
      <li><a href="{{servlet-context}}/searchcusenr">enrol customer</a></li>
    </ul>
  </div>
</div>
{% endblock %}
